header {
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.nav a {
  color: black;
  padding-right: 40px;
}

.main-container {
  display: flex;
  justify-content: center;
  top: 80px;
  font-family: Georgia;
  margin-bottom: 78px;
  padding-top: 116px;
}

.main-container p {
  font-size: 17px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image-content{
  display: flex;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.main-story.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  display: block;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
}

.main-story .text {
  margin-top: 16px;
}

.earth.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.cameras.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.cats.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.other-stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.news h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 41px;
  text-align: center;
}

.news span {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  display: block;
  padding: 11px 20px;
}

footer {
  display: flex;
  width: 100%;
  height: 325px;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  flex-direction: column;
  position: absolute;
}

.title-nav {
  display: inline-block;
}

.title-nav span {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-left: 25px;
}

.title-nav a {
  color: black;
  padding-left: 25px;
}
